[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "arrayQualityMetrics"]
	path = arrayQualityMetrics
	url = https://github.com/grimbough/arrayqualitymetrics
	shallow = true
[submodule "rhdf5"]
	path = rhdf5
	url = https://github.com/grimbough/rhdf5
	shallow = true
[submodule "rhdf5filters"]
	path = rhdf5filters
	url = https://github.com/grimbough/rhdf5filters
	shallow = true
[submodule "Rhdf5lib"]
	path = Rhdf5lib
	url = https://github.com/grimbough/rhdf5lib
	shallow = true
